{% extends "master.html" %}

{% block page_title %}Habit Tracker{% endblock %}

{% block content %}
<form>
    <table class="table">
        <tr>
            {% for date in dates %}
                <th>
                    {{ date.year }}-{{ date.month }}-{{ date.day }}
                </th>
            {% endfor %}
        </tr>
        <tr>
            {% for date in dates %}
                <td>
                    {% if date < today %}
                        b
                    {% elif date >= today %}
                        <button class="btn btn-success">Abstained</button>
                        <br>
                        <br>
                        <button class="btn btn-danger">Succumbed</button>
                    {% endif %}
                </td>
                {% endfor %}
        </tr>
    </table>
</form>
{% endblock %}